@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}
@layer utilities {
  .simplebar-scrollbar::before {
    background-color: rgba(0, 0, 0, 0.6) !important;
  }
}
